html *{
	/* outline: 1px solid #f00; */
}
body{
	/* padding-bottom: 80px; */
	font-family: Helvetica,"蘋果儷中黑","微軟正黑體",Verdana,Arial,sans-serif,"新細明體";
}
/* scroll內容區 */
.md-app .md-content.md-theme-default.md-app-content{
	background-color: rgb(244, 244, 245);
}
/* ------------------material css cover------------------ */
/* 全域 */
html.md-theme-default{
	color: #555;
}
.md-theme-default :not(input):not(textarea)::selection {
	background-color: #F2F6FC !important;
	color: #555 !important;
}