{% extends "layout.html" %} {% block title %}奇蹟課程正文{% endblock %} {% block head %}
<style type="text/css">
    .crop-text-2 {
        /*兩行點點點*/
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    h1,.prm-text {
        color: #303133
    }

    .reg-text {
        color: #606266
    }

    /*暗色*/
    .reg-text {
        color: white
    }
    .el-tabs__item{
        color:white;
    }
    .el-card {
        background-color: #030202;
        color: white;
    }
    .el-textarea__inner{
        background-color: #c8aa74;
        color: black;
    }


</style>
{% endblock %}
 {% block content %}
<!-- <h1 class="mb-3">{{title}}</h1> -->
<el-row class="mb-3">
    <el-col :span="24">
    </el-col>
</el-row>
<el-row class="mb-3" type="flex" justify="end">
    <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="3">
       
    </el-col>
</el-row>
<el-row >
    <el-col :span="24">
            <el-card shadow="never">
                    <div slot="header" class="clearfix"><h4>{{title}}</h4></div>
                    <md-dialog-actions>
                        <md-button  class="md-primary clipboard" :data-clipboard-target="'#copy_'+ act_tab_index">複製</md-button>
                        <md-button  class="md-primary clipboard">色系</md-button>
                    </md-dialog-actions>

                    <el-tabs v-model="act_tab_name" @tab-click="on_tab_click" :tab-position="isMobile() ? 'top' : 'left'" >
                        <el-tab-pane :id="index" v-for="(sec, index) in section"  class="reg-text" :label="get_sec_title(sec)">
                                <div :id="'copy_'+ index" v-html="sec"></div>
                                <hr/> 
                                <v-note @update="on_note_change" :id="'T_' + T + '_' +index" show="true" ></v-note>
                        </el-tab-pane>
                    
                    </el-tabs>
                    
            </el-card>
            
    </el-col>
    
</el-row>

{% endblock %} 

{% block js %}
<script src="/static/js/v-practice.js?20190410"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/audiojs/1.0.1/audio.min.js"></script> -->
<script src="/static/audiojs/audio.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-aplayer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.min.js"></script>
<script src="/static/js/mixin_get_selection_text.js"></script>
<script src="/static/js/mixin_detictingMobile.js"></script>
<script src="/static/js/v-note.js"></script>

<script>
 
    //複制
    $(function () {
        new ClipboardJS('.clipboard');
    });

    Array.prototype.remove = function() {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };

</script>
<script>

    var obj;
    obj = new Vue({
        delimiters: ['[[', ']]'],
        el: '#layout',
        mixins: [layoutVue, mixinDetictingMobile, mixinGetSelectionText],//layout 資料
        breadpath: [{ key: '首頁', path: '奇蹟課程正文' }],//面包序
        data: {
            section:{{section| safe}},
            act_tab_name:"",
            act_tab_index:0,
            T:{{T|safe}},
        },
        methods: {
           
            get_sec_title(sec){
                // console.log(sec.split("<br/>")[1]);
                return sec.split("<br/>")[1];
            },
            on_tab_click(elm){
                this.act_tab_index = elm["index"]
            },
            on_selectionEnd(selectedText){
                that = this;
                this.$notify({
                    showClose: true,
                    title: selectedText,
                    dangerouslyUseHTMLString: true,
                    message: "<p>T" +that.T + "-" + that.act_tab_index,
                    duration:(60*1000)
                });   
              
            },
            on_note_change(id , note){
                var note_id=id
                this.post_to_mongo('1', note_id, note)
            },
            post_to_mongo(user_id, note_id, note){
                //儲存資料庫
                var data = {
                   'user_id': user_id,
                   'note_id': note_id,
                   'note': note
                }
                $.post("/api/note", data, function(data) {
                   console.log('ok')
                });
            },
           
        },
        watch: {

        },
        mounted:function () {
          
            this.init_getSelectionText()
        }

});

</script> 
{% endblock %}