{% extends "layout.html" %} {% block title %}奇蹟課程正文{% endblock %} {% block head %}
<style type="text/css">
    .crop-text-2 {
        /*兩行點點點*/
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    h1,.prm-text {
        color: #303133
    }

    .reg-text {
        color: #606266
    }


</style>
{% endblock %}
 {% block content %}
<!-- <h1 class="mb-3">{{title}}</h1> -->
<el-row class="mb-3">
    <el-col :span="24">
      
    </el-col>
</el-row>
<el-row class="mb-3" type="flex" justify="end">
    <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="3">
       
    </el-col>
</el-row>
<el-row >
    <el-col :span="24">
            <el-card shadow="never">
                    <div slot="header" class="clearfix"><h4>{{title}}</h4></div>
                   

                    <el-tabs tab-position="top" >
                        <el-tab-pane v-for="sec in section"  class="reg-text" :label="get_sec_title(sec)">
                                <div v-html="sec"></div>
                                <hr/> 
                        </el-tab-pane>
                    
                    </el-tabs>
            </el-card>
            
    </el-col>
    
</el-row>

{% endblock %} 

{% block js %}
<script src="/static/js/v-practice.js?20190410"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/audiojs/1.0.1/audio.min.js"></script> -->
<script src="/static/audiojs/audio.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-aplayer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.min.js"></script>

<script>
$(function () {
    new ClipboardJS('.clipboard');
});

Array.prototype.remove = function() {
    var what, a = arguments, L = a.length, ax;
    while (L && this.length) {
        what = a[--L];
        while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
        }
    }
    return this;
};

</script>
<script>

    var obj;
    obj = new Vue({
        delimiters: ['[[', ']]'],
        el: '#layout',
        mixins: [layoutVue],//layout 資料
        breadpath: [{ key: '首頁', path: '奇蹟課程正文' }],//面包序
        data: {
            section:{{section| safe}}
        },
        methods: {
            get_sec_title(sec){
                console.log(sec.split("<br/>")[1]);
                return sec.split("<br/>")[1];
            }
           
        },
        watch: {

        },
        mounted:function () {
          
        }

});

</script> 
{% endblock %}