{% extends "layout.html" %} {% block title %}奇蹟課程學員練習記錄工具{% endblock %} {% block head %}
<style type="text/css">
    .crop-text-2 {
        /*兩行點點點*/
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    h1,
    .prm-text {
        color: #303133
    }

    .reg-text {
        color: #606266
    }

</style>
{% endblock %} {% block content %}



<!--  -->
<md-dialog :md-active.sync="showDialog" @md-opened="on_showDialog" style="width: 90%;">
    <md-dialog-title class="prm-text">
        [[dialog_ttl]]
    </md-dialog-title>
    <md-dialog-actions>
        <md-button class="md-primary" @click="showDialog = false">關閉</md-button>
    </md-dialog-actions>
    <md-dialog-content>
            是影連口列她民接文作了者
            爭來最工我在來兒還就，戰來導三興山共。書年滿清新不生長前必團者日……想立造受、來教馬學的論起幾目理知反，類來好北的因公開覺高斯現里動節的量任高工人家、值市日改上計單合個富父顯為不車面運能快很親始部可老這一；者大設兒面他招手竟萬麼。
            
            首此意火支因去空是權到類通長知，值同院就落分不在可可大人式友計給實弟發素海事竟！教別要？師參望；發相點。計賣外給何。
            
            作上時會國機分國活！團不她！
            
            計經需於……門不點法：得件流聞不色車他呢福濟機來手物長利才動中國更著演有服細路國朋得進背的這部舞持於陽雲投且安處可灣過性間是然法樂為表不常的美界時形，好論人兩像本益未電無認，合久留車積。
            
            動服現來一同發期研急都然庭。
            
            來大照兩整，難樹以安專驗記，沒校上一不但，足人類論為著神職相足出自式現物何。個化主生是排就總務般打無良是。不進了色病法越車大面竟出裡親越媽樣。
            
            實前絕統要示容的大地參了……前上太無頭站不業法標設怎的建麗學；有物好所心金根臺高臺走須花據，車不子自臺電的目議教不心值空。
            
            前後書真務是師法館到比又機岸世成記必北覺代教地。藥了公動便響影且配、國朋光雄，便隨應、始情時別輕怎經作你我世克人這方地輕隊信媽重深今好食有家哥真錯是象畫完會或到你是人政變高地一星養解小人功立坐：善面受進山管具法不……由後住。經考善頭計代無山到麼方否善望麼再友點土少方全？開廣色結器平館接太中她長務隨人。光又物，意長不得總量都所……的合樹思費今樂開何讓議，記是少這，回都一氣寫認天謝像度險、品的出過……來孩開我型感院是住衣們顯製不腦權只亞小真遊反沒長我作山，不了著富著政為賣家成心打學老時目平化用斯信到線為白天；三上會問發在然雄……件機應分常下這仍然總有然、無支為陽提定：我場產我高親來空製的眼草很意內但結交檢無國知冷，位要影美留，們至二溫可行，人相相房親片程養詩滿何好益，來未品頭同我社車了化們這有？功技真每時半多著至的此密將屋運給論安，沒我然政可於書官流那、如候十：念這有三我，平他正天清德動件在考的大功印一明是，成二開物計照帶起青了。舉到山亮信為高小化步際持相館容民想人一主辦爭美，位有陸車夫族；計一投只算能媽我。為數裡可用們加字人……代山生球英保南然神，路功一寫萬眾父性發西有出人子是境停嗎下達國星起你意整鄉隨色答色提排那心不望傳們夜來車自水神。到省影題細了用後風，期大走，始關作全大我陸天同臺體會土火相有看岸好藥紀起賽河然空辦開現象意白人我變望權登離國親在，對信要代的似；無臺變一取始約都中陽產你加；人子公樹持小臺新此聽了作有力力體推時生院強千以？高育地語的做叫一證工果認跟她自呢……或行此觀最升公。
            
            的到兒查不自關的根例論然洋球則年會的！
            
            Q&A：
            
            這要幹嘛的？
            
            產生沒有意義的文章，供排版時填充版面用，但不會因為字義而左右版型的判斷。文字、標點符號出現機率大致符合台灣文章習慣。
            
            這能寫詩嗎？
            
            隨你。
    </md-dialog-content>
</md-dialog>



{% endblock %} 

{% block js %}



<script>

</script>
<script>
    // Vue.component('aplayer', VueAPlayer)

    var obj;
    obj = new Vue({
        delimiters: ['[[', ']]'],
        el: '#layout',
        mixins: [layoutVue],
        breadpath: [{ key: '首頁', path: '' }],
        data: {
            show_mp3_Dialog :false,
            showDialog: true, //顯示對話框
            dialog_mp3:"",
            dialog_ttl: "",
            dialog_txt: "",
            books: {{books | safe }}, //練習手冊內文
            mp3lst : {{mp3lst | safe}},
            chks :[0, 1, 2, 3], //使用者勾選的(完成)
            ftr :"顯示全部", //過濾條件
            msg: "test",
            progs:0
        },
        methods: {
            get_display_items() {
                //跟據過濾條件顯示項目
                app = this;
                if (this.ftr == "顯示全部") {
                    return this.books;
                } else if (this.ftr == "顯示未完成") {
                    return _.filter(this.books, function (b) {
                        return !app.chks.includes(b["idx"])
                    });
                } else {
                    return _.filter(this.books, function (b) {
                        return app.chks.includes(b["idx"])
                    });
                }
            },
            ischk(idx) {
                //判斷是否已完成
                return
            },
            oninfoclick(ttl, txt, idx) {
                //點擊更多資訊
                // this.dialog_mp3 = this.mp3lst[idx]['data']['link'];
                this.dialog_ttl = ttl;
                this.dialog_txt = txt;
                this.showDialog = true
            },
            onmp3click(ttl, txt, idx) {
                //點擊更多資訊
                this.dialog_mp3 = this.mp3lst[idx]['data']['link'];
                this.dialog_ttl = ttl;
                this.dialog_txt = txt;
                this.show_mp3_Dialog = true
            },
            onchangecheck(idx, chk) {
                //使用者勾選某課,idx課索引，chk是否勾選
                if (chk) {
                    this.chks.push(idx)
                } else {
                    this.chks.pop(idx)
                }
                this.progs = (this.chks.length / 365) * 100

            },
            on_showDialog() {
              
            },
            on_showmp3player(){

            }

        },
        watch: {

        },
        mounted:function () {

        }
});

</script> 
{% endblock %}