{% extends "layout.html" %} {% block title %}奇蹟課程學員練習記錄工具{% endblock %} {% block head %}
<style type="text/css">
    .crop-text-2 {
        /*兩行點點點*/
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    h1,.prm-text {
        color: #303133
    }

    .reg-text {
        color: #606266
    }

</style>
{% endblock %} {% block content %}



<h1 class="mb-3">學員練習記錄工具</h1>
<el-row class="mb-3">
    <el-col :span="24">
        <md-progress-bar md-mode="determinate" :md-value="progs"></md-progress-bar>
    </el-col>
</el-row>
<el-row class="mb-3" type="flex" justify="end">
    <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="3">
        <el-select style="float:right" v-model="local_data.ftr" placeholder="過濾">
            <el-option label="顯示全部" value="顯示全部">
            </el-option>
            <el-option label="顯示未完成" value="顯示未完成">
            </el-option>
            <el-option label="顯示已完成" value="顯示已完成">
            </el-option>
        </el-select>

    </el-col>
</el-row>
<el-row :gutter="5">
    <el-col v-for="b in get_display_items()" class="mb-1" :xs="24" :sm="6" :md="4" :lg="4" :xl="4">
        <div class="grid-content bg-purple">
            <v-practice :chk="local_data.chks.includes(b['idx'])" 
            @onmp3click="onmp3click(b['d']['ttl'], b['d']['txt'], b['idx'])"
            @oninfoclick="oninfoclick(b['d']['ttl'], b['d']['txt'], b['idx'])" :id="b['idx']" :title="b['d']['ttl']"
            @onchangecheck="onchangecheck">
            </v-practice>
        </div>
    </el-col>
</el-row>
<!--  -->
<md-dialog :md-active.sync="showDialog" @md-opened="on_showDialog" style="width: 90%;">
    <md-dialog-title class="prm-text">
        [[dialog_ttl]]
    </md-dialog-title>
    <md-dialog-content>
        <div class="reg-text" v-html="dialog_txt" ></div>
    </md-dialog-content>
    <md-dialog-actions>
            <md-button class="md-primary" @click="showDialog = false">關閉</md-button>
        </md-dialog-actions>
</md-dialog>

<md-dialog :md-active.sync="show_mp3_Dialog" @md-opened="on_showmp3player" style="width: 90%;">
    <md-dialog-title class="prm-text">
        [[dialog_ttl]]
    </md-dialog-title>
    <md-dialog-content>
        <aplayer autoplay :music="{
                    title: dialog_ttl,
                    artist: '奇蹟課程',
                    src: dialog_mp3
                }" />
    </md-dialog-content>
</md-dialog>

{% endblock %} 

{% block js %}
<script src="/static/js/v-practice.js?20190402"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/audiojs/1.0.1/audio.min.js"></script>
<script src="/static/audiojs/audio.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-aplayer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
<script>
$(function () {
    $.scrollUp({
        scrollName: 'scrollUp',      // Element ID
        scrollDistance: 300,         // Distance from top/bottom before showing element (px)
        scrollFrom: 'top',           // 'top' or 'bottom'
        scrollSpeed: 300,            // Speed back to top (ms)
        easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
        animation: 'fade',           // Fade, slide, none
        animationSpeed: 200,         // Animation speed (ms)
        scrollTrigger: false,        // Set a custom triggering element. Can be an HTML string or jQuery object
        scrollTarget: false,         // Set a custom target element for scrolling to. Can be element or number
        scrollText: 'Scroll to top', // Text for element, can contain HTML
        scrollTitle: false,          // Set a custom <a> title if required.
        scrollImg: false,            // Set true to use image
        activeOverlay: '#00FFFF',       // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        zIndex: 2147483647           // Z-Index for the overlay
    });
});
</script>
<script>
    Vue.component('aplayer', VueAPlayer)

    var obj;
    obj = new Vue({
        delimiters: ['[[', ']]'],
        el: '#layout',
        mixins: [layoutVue],
        breadpath: [{ key: '首頁', path: '' }],
        data: {
            show_mp3_Dialog :false,
            showDialog: false, //顯示對話框
            dialog_mp3:"",
            dialog_ttl: "",
            dialog_txt: "",
            books: {{books | safe }}, //練習手冊內文
            mp3lst : {{mp3lst | safe}},
            local_data:{
                chks :[0, 1, 2, 3], //使用者勾選的(完成)
                ftr :"顯示全部", //過濾條件
            },
            msg: "test",
            progs:0
        },
        methods: {
            get_display_items() {
                //跟據過濾條件顯示項目
                app = this;
                if (this.local_data.ftr == "顯示全部") {
                    return this.books;
                } else if (this.local_data.ftr == "顯示未完成") {
                    return _.filter(this.books, function (b) {
                        return !app.local_data.chks.includes(b["idx"])
                    });
                } else {
                    return _.filter(this.books, function (b) {
                        return app.local_data.chks.includes(b["idx"])
                    });
                }
            },
            ischk(idx) {
                //判斷是否已完成
                return
            },
            oninfoclick(ttl, txt, idx) {
                //點擊更多資訊
                // this.dialog_mp3 = this.mp3lst[idx]['data']['link'];
                this.dialog_ttl = ttl;
                this.dialog_txt = txt;
                this.showDialog = true
            },
            onmp3click(ttl, txt, idx) {
                //點擊更多資訊
                this.dialog_mp3 = this.mp3lst[idx]['data']['link'];
                this.dialog_ttl = ttl;
                this.dialog_txt = txt;
                this.show_mp3_Dialog = true
            },
            onchangecheck(idx, chk) {
                //使用者勾選某課,idx課索引，chk是否勾選
                if (chk) {
                    this.local_data.chks.push(idx)
                } else {
                    this.local_data.chks.pop(idx)
                }
                this.update_progress();
                this.save_localStorage();
            },
            update_progress(){
                this.progs = (this.local_data.chks.length / 365) * 100
            },
            on_showDialog() {
              
            },
            on_showmp3player(){

            },
            save_localStorage(){
                //save to local straoge
                localStorage.miraclecoursetool = JSON.stringify(this.local_data)
            },
            load_localStroage(){
                //載入資料
                if (localStorage.miraclecoursetool) {
                    this.local_data = JSON.parse(localStorage.miraclecoursetool)
                }   
            }
        },
        watch: {

        },
        mounted:function () {
            this.load_localStroage();
            this.update_progress();
        }

});

</script> 
{% endblock %}